<%- include ../common/header %>



<link href="/css/group/marketList.css?v=<%= config.version %>" rel="stylesheet" />




<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
        <%- include ../common/leftNav %>
        <div class="c-r">

            <div id="app">


            </div>
        </div>
    </div>
</div>


<%- include ../common/footer %>
</body>
</html>


<%- include ../common/modals %>

<script>
    seajs.use("js_cmd/group/marketList-cmd");

</script>




