<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>奉贤区医疗器械管理平台</title>
    <link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css?v=<%= config.version %>">
    <link rel="stylesheet" href="/stylesheets/wapmain-721a1f82eb.min.css">
    <script src="/lib/sea.js"></script>
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/bootstrap-datepicker.js"></script>
    <script src="/lib/Jquery.Query.js"></script>
    <script type="text/javascript" src="/javascripts/common-43ed7fc1a2.min.js"></script>
     <script>
        seajs.config({
            base: '/'
        });
    </script>
</head>
<body>

<div class="c-w" id="c-header">
    <div class="c-h">
      <div class="c-hm">
       <% if(user){ %>
        <div class="huany"><%=user.content.displayName %>【<%=user.content.belongName%>:<%=user.content.roleName%>】，欢迎您!！</div>
       <% } else{%>
        <div class="huany">欢迎进入奉贤医疗器械管理平台!</div>
       <%}%> 
        <div class="geren">
            <a href="javascript:;" class="gerena" id="u-btn"><i class="icon-user"></i><span>个人中心</span></a>
            <div class="tongzhi" id="tongzhi">
                <ul class="clearfix">
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromMessage" >通知</a>
                        <div class="sm_dian"><%=user.content.messageCount||0 %></div>
                    </li>
                    <% if(user.content.type=='COMPANY'){%>    
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromkey"  id="appkey-btn">获取appkey</a></li>
                    <%}%>
                    <li><a class="btn"  data-toggle="modal" data-target="#modal-password" >修改密码</a></li>
                    <li><a href="/signout" class="btn" >退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="c-bg"></div>
</div>
