<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>奉贤区医疗器械管理平台</title>
    <link rel="stylesheet" href="/css/bootstrap/dist/css/bootstrap.min.css?v=<%= config.version %>">
    <link rel="stylesheet" href="/css/fontawesome/font-awesome.min.css?v=<%= config.version %>">
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css?v=<%= config.version %>">
    <link rel="stylesheet" href="/css/common.css?v=<%= config.version %>">
    <link rel="stylesheet" href="/css/style.css?v=<%= config.version %>">
    <link rel="stylesheet" href="/css/c-table.css?v=<%= config.version %>">
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/Jquery.Query.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/bootstrap-datepicker.js"></script>
    <script src="/lib/bootstrap-datepicker.zh-CN.js"></script>
    <script src="/js_cmd/common.js"></script>
    <script src="/lib/sea.js"></script>
    <script>
    
        seajs.config({
            base: '/'
        });
       
    </script>
</head>
<body>

<div class="c-w" id="c-header">
    <div class="c-h">
       <% if(user){ %>
        <div class="huany">欢迎<%=user.content.displayName %>进入奉贤医疗器械管理平台！！！</div>
       <% } else{%>
        <div class="huany">欢迎进入奉贤医疗器械管理平台！！！</div>
       <%}%> 
        <div class="geren">
            <a href="javascript:;" class="gerena" id="u-btn">个人中心</a>
            <div class="tongzhi" id="tongzhi">
                <ul class="clearfix">
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromMessage" >通知</a>
                        <div class="sm_dian"><%=user.content.messageCount||0 %></div>
                    </li>
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromleft" >获取appkey</a></li>
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromleft" >修改公司</a></li>
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromleft" >修改密码</a></li>
                    <li><a href="/signout" class="btn" >退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-bg"></div>
</div>
