    <div class="c-l">
     
          <%if(user.content.type!='BACKSTAGE'&&user.content.type!='COMPANY'){ %>

                      <%if(user.content.navlist!=null){%> 
                           <ul class="c-list">
                                         <!--   <span class="noic activeNoic" ></span>   activeNoic-->
                              <% user.content.navlist.forEach(function (item){ %>
                                  <li style="position: relative; "><a href="<%=item.href%>?id=<%=user.content.belongId%>&market=<%=user.content.marketId%>&park=<%=user.content.parkId%>"><%if(item.list){ %><i class="icon-caret-right"></i><%}%><%=item.title%></a>
                                    <%if(item.parentTitle==7){ %><span class="noic" data-active="<%=user.isunread%>" ></span><%}%>
                                     <% if(item.list){%>
                                         <dl >
                                            <% if(user.content.type=="DISTRICT"){%>
                                              <dd>
                                                  <a href="/organize/architecture">组织架构</a>
                                              </dd>
                                           <%}%>
                                              <% item.list.forEach(function (it){ %>

                                                 <dd>
                                                     <a href="<%=it.href%>?id=<%=user.content.belongId%>&market=<%=user.content.marketId%>&park=<%=user.content.parkId%>"><%=it.title%></a>
                                                 </dd>

                                              <%})%>
                                               <dd>
                                                     <a href="/organize/company?id=<%=user.content.belongId%>&market=<%=user.content.marketId%>&park=<%=user.content.parkId%>">企业</a>
                                               </dd>
                                        </dl>
                                     <%}%>
                                  </li>
                               
                              <%})%>
                       
                                
                     
                                <%if(user.content.btnPermissions.same_level_manage){%>
                                  <li><a href="javascript:;"><i class="icon-caret-right"></i>用户管理</a>
                                       <dl>
                                                 <dd>
                                                     <a href="/user/role/list?id=<%=user.content.belongId%>&market=<%=user.content.marketId%>&park=<%=user.content.parkId%>">角色管理</a>
                                                 </dd>
                                                 <dd>
                                                     <a href="/user/edit/list?id=<%=user.content.belongId%>&market=<%=user.content.marketId%>&park=<%=user.content.parkId%>">用户列表</a>
                                                 </dd>
                                              
                                                 <dd>
                                                     <a href="/signout">退出</a>
                                                 </dd>
                                        </dl>
                                  </li>
                                <%}%>
                           </ul>               
                    <%}%>
           <%  }else{ %>
                     <%if(user.content.navlist!=null){%> 
                     <ul class="c-list">

                          <% user.content.navlist.forEach(function (item){ %>
                            <li><a href="<%=item.href%>"><%if(item.list){ %><i class="icon-caret-right"></i><%}%><%=item.title%></a>
                               <% if(item.list){%>
                                   <dl >
                                        <% item.list.forEach(function (it){ %>
                                           <dd>
                                               <a href="<%=it.href%>"><%=it.title%></a>
                                           </dd>
                                        <%})%>
                                  </dl>
                               <%}%>
                            </li>
                            <%})%>
                       </ul>
                       <%}%>
           <%}%>
   </div>
 <script>
   $(function (){
           var isunread=$('.noic').attr('data-active');
           var href= $('.noic').prev().attr('href')
           if(isunread){
               $('.noic').addClass('activeNoic') 
               $('.noic').prev().attr('href',href+'&isunread=true')
           }
           if(GetQueryString('isunread')==='false'){
               $('.noic').removeClass('activeNoic') 
           }
           $('.noic').parent().on('click',function (){
               $('.noic').removeClass('activeNoic') 
               $('.noic').prev().attr('href',href+'&isunread=false')
           })

             function GetQueryString(name) {  
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");  
                var r = window.location.search.substr(1).match(reg);  //获取url中"?"符后的字符串并正则匹配
                var context = "";  
                if (r != null)  
                     context = r[2];  
                reg = null;  
                r = null;  
                return context == null || context == "" || context == "undefined" ? "" : context;  
        }

   })


 </script>  