    <div class="c-l">
     
          <%if(user.content.type!='BACKSTAGE'&&user.content.type!='COMPANY'){ %>

                      <%if(user.content.navlist!=null){%> 
                           <ul class="c-list">
                              
                              <% user.content.navlist.forEach(function (item){ %>
                                  <li><a href="<%=item.href%>"><%if(item.list){ %><i class="icon-caret-right"></i><%}%><%=item.title%></a>
                                     <% if(item.list){%>
                                         <dl >
                                            <% if(user.content.type=="DISTRICT"){%>
                                              <dd>
                                                  <a href="/organize/architecture">组织架构</a>
                                              </dd>
                                           <%}%>
                                              <% item.list.forEach(function (it){ %>
                                                 <dd>
                                                     <a href="<%=it.href%>"><%=it.title%></a>
                                                 </dd>
                                              <%})%>
                                               <dd>
                                                     <a href="/organize/company">企业</a>
                                               </dd>
                                        </dl>
                                     <%}%>
                                  </li>
                              <%})%>

                                <li><a href="javascript:;"><i class="icon-caret-right"></i>用户管理</a>
                                     <dl>
                                               <dd>
                                                   <a href="/user/role/list">角色管理</a>
                                               </dd>
                                            
                                               <dd>
                                                   <a href="/user/edit/list">用户列表</a>
                                               </dd>
                                            
                                               <dd>
                                                   <a href="/signout">退出</a>
                                               </dd>
                                      </dl>
                                </li>
                           </ul>               
                    <%}%>
           <%  }else{ %>
                     <%if(user.content.navlist!=null){%> 
                     <ul class="c-list">

                          <% user.content.navlist.forEach(function (item){ %>
                            <li><a href="<%=item.href%>"><%if(item.list){ %><i class="icon-caret-right"></i><%}%><%=item.title%></a>
                               <% if(item.list){%>
                                   <dl >
                                        <% item.list.forEach(function (it){ %>
                                           <dd>
                                               <a href="<%=it.href%>"><%=it.title%></a>
                                           </dd>
                                        <%})%>
                                  </dl>
                               <%}%>
                            </li>
                            <%})%>
                       </ul>
                       <%}%>
           <%}%>
   </div>