
      
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>

      
         <div class="c-r" id="admin-park">
            
            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                <div class="clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 o-pd v-label" for="val-skill">市场所：</label>
                            <div class="col-md-3">
                                <select class="form-control" id="select_park" name="val-skill" @change="getParkList()">
                                 
                                     <option value="all">请选择</option>
                                    <% dataSelect.forEach(function (item){ %>
                                      <option value="<%=item.id%>"><%=item.name%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="v-t-m">
                                <button class="btn btn-md btn-primary btn-block add_admin_userBtn" data-toggle="modal" data-target="#modal-addParty"  >新增园区</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block" v-cloak>
                         <check-table-list :datalist="tableList"  ></check-table-list>
                    </div>
                </div>
            </div>
           
             <v-pages :pagelist="tableList.content.page||1"> </v-pages>

                   
        </div>
    </div>

</div>


<!--   新增园区  弹框 －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->


<div class="modal fade " id="modal-addParty" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body form_Party">

                       <div class="block-content block-content-narrow">

                                    <div class="js-validation-bootstrap form-horizontal" >
                                        
                                       <div class="form-group">
                                        <label class="col-md-3 control-label" for="val-skill">隶属于市场所<span class="text-danger">*</span></label></label>
                                        <div class="col-md-7">
                                            <select class="form-control select_park"  name="val-skill">
                                                <option value="all">请选择</option>
                                                  <% dataSelect.forEach(function (item){ %>
                                                         <option value="<%=item.id%>"><%=item.name%></option>
                                                  <%})%>
                                               
                                            </select>
                                           </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">园区名称 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-name" type="text" name="val-username" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label " for="val-password">电话 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-phone" type="text"  name="val-phone" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">地址 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-address" type="text" name="val-address" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-email">联系人 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-contact" type="text" name="val-contact" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" >管理员用户名 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-username"  placeholder="作为登陆账号使用" type="text" name="val-username" >
                                            </div>
                                        </div>    
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-email">邮箱 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-email" type="text" name="val-email" placeholder="用来接收密码和通知" >
                                            </div>
                                        </div>

                                        <input type="hidden" class="admin-parentId" name="parentId">
                                        <input type="hidden" class="admin-id" name="id">
                                        <input type="hidden" class="admin-type" name="type">
                                        <input type="hidden" class="admin-admin" name="admin">
                                      
                                       
                                        <div class="form-group">
                                            <div class="col-md-3 col-md-offset-3">
                                                <button class="btn btn-sm btn-primary v-btn-w admin-add-btn">提交</button>
                                            </div>
                                            <div class="col-md-6 admin-msg">
                                            </div>
                                        </div>
                                    </div>
                                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  新增园区  弹框  -->


<div class="modal fade " id="modal-DeletePrompt" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <p>“若有下级单位，会一并删除，确认删除该单位吗？”</p>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default "  data-dismiss="modal"   >取消</button>
                    <button type="button" class="btn btn-primary " id="delete-ground"  >确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  用户 修改密码  弹框  -->





<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>
<script>
    seajs.use("/js_cmd/group/admin_park-cmd.js?v=<%= config.version %>");

</script>
