
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r">
            <div class="col-md-12">
                <div class="line line-c"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
           
                <div class="col-md-12 o-pd quju_title">
                  <div class="quju_zi">奉贤区局</div>
                </div>
                <div class="col-md-12 o-pd quju">

                  <ul>
                    <% if(data.content.length>0){ %> 
                     <% for(var i=0;i<4;i++){%>                   
                         <li><div class="quju_sp1"><a href="/organize/park?id=<%=data.content[i].id%>"><%=data.content[i].name%></a></div></li>
                    <%}%>
                  
                    <li><div class="quju_sp1"><a href="/organize/market">更多市场所</a></div></li>

                    <% for(var i=0;i<4;i++){%>   
                       <li><div class="qiju_sp3">园区详情<div class="qiju_sp4">（<%=data.content[i].parkCount%>家）</div></li>
                    <%}%>

                    <li><div class="qiju_sp3"><a href="/organize/park">园区详情<div class="qiju_sp4">（<%=parkAll%>家）</a></div></div></li>  

                     <% for(var i=0;i<4;i++){%>   
                     <li><div class="qiju_sp3">企业详情<div class="qiju_sp4">（<%=data.content[i].companyCount%>家）</div></div></li>
                      <%}%>
                      <li><div class="qiju_sp3">企业详情<div class="qiju_sp4">（<%=companyAll%>家）</div></div></li>      
                      <%}%>                                 
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>


</script>


      
