
<% include ../common/header.ejs %>

<div class="c-content o-pad" style="width:1200px;" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r" style="width:890px">
            <div class="col-md-12">
                <div class="line line-c"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
                <div class="line line-t"></div>
           
                <div class="col-md-12 o-pd quju_title">
                  <div class="quju_zi">奉贤区局</div>
                </div>
                <div class="col-md-12 o-pd quju">

                  <ul>
          
                       <% for(var i=0;i<marketLeng;i++){%>                   
                           <li><div class="quju_sp1"><a href="/organize/park?id=<%=data.content[i].id%>"><%=data.content[i].name%></a></div></li>

                      <%}%>

                       <% if(marketLeng<4 ) {%>
                              <% for(var i=0;i<5-marketLeng;i++){%>     
                              <li><div class="quju_sp1" style="background:#f4f4f4;"><a style="color:#666" >暂未开启</a></div></li>
                                <%}%>
                       <% }%>  

                    <% if(marketLeng>=4){%>
                    <li><div class="quju_sp1"><a href="/organize/market">更多市场所</a></div></li>
                    <%}%>

                    <% for(var i=0;i<marketLeng;i++){%>   
                       <li><div class="qiju_sp3"><a href="/organize/park?id=ROOT&market=&park=">园区详情</a><div class="qiju_sp4"><a href="/organize/park?id=ROOT&market=&park=">（<%=data.content[i].parkCount%>家）</a></div></li>
                    <%}%>

                    <% if(marketLeng<4 ) {%>
                              <% for(var i=0;i<5-marketLeng;i++){%>     
                              <li><div class="quju_sp1" style="background:#f4f4f4;"><a style="color:#666" >暂未开启</a></div></li>
                                <%}%>
                    <% }%>  

                    <% if(marketLeng>=4){%>
                    <li><div class="qiju_sp3"><a href="/organize/park">园区详情<div class="qiju_sp4">（<%=parkAll%>家）</a></div></div></li>  
                      <%}%>
                     <% for(var i=0;i<marketLeng;i++){%>   
                     <li><div class="qiju_sp3"><a href="/organize/company?id=ROOT&market=&park=">企业详情</a><div class="qiju_sp4"><a href="/organize/company?id=ROOT&market=&park=">（<%=data.content[i].companyCount%>家）</a></div></div></li>
                      <%}%>

                      <% if(marketLeng<4 ) {%>
                              <% for(var i=0;i<5-marketLeng;i++){%>     
                              <li><div class="quju_sp1" style="background:#f4f4f4;"><a style="color:#666" >暂未开启</a></div></li>
                                <%}%>
                    <% }%>  
                      <% if(marketLeng>=4){%>
                      <li><div class="qiju_sp3"><a href="/organize/company?id=ROOT&market=&park=">企业详情</a><div class="qiju_sp4"><a href="/organize/company?id=ROOT&market=&park=">（<%=companyAll%>家）</a></div></div></li>      
                      <%}%>                             
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>


</script>


      
