<% include ../common/header.ejs %>
<script type=""></script>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
       <div class="c-r" id="app" <%if(user.content.type=="COMPANY"){%> style=" width: 1000px; float: inherit;     margin: 0 auto;" <%}%>  >
                
    


   
              <% include ../common/rightBtns.ejs %>
   
            <!--  测试 -->
               <div class="block" >

       		 	  <table-btns :btnlist="<%= JSON.stringify(btnlist)%>"></table-btns> 
              <% if(company){%> 
                    <div class="tab-pane active" v-cloak>
                            <div class="col-md-12">
                                        <div class="col-md-12 o-pd qyspxq_title">企业信息</div>
                                        <div class="col-md-12 o-pd qyspxq_text">
                                            <span class="details-title">公司名称：</span></span> <%=data.content.name%><br />
                                            <span class="details-title">公司地址：</span> <%=data.content.address%><br />
                                            <span class="details-title">隶属市场所：</span><%=data.content.belongMarket%><br />
                                            <span class="details-title">隶属园区：</span> <%=data.content.belongPark%><br />
                                            <span class="details-title">联系人：</span> <%=data.content.contact%><br />
                                            <span class="details-title">联系电话：</span> <%=data.content.phone%><br />
                                            <span class="col-md-2 o-pd qjjr_xq ">经营范围 ：</span><span class="col-md-10"><%=data.content.businesses%></span><br />
                                            <span class="col-md-12 o-pd"><span class="details-title">经营许可证：</span><%=data.content.certificate%></span><br />
                                            <span class="details-title">许可证有效期：</span><%=data.content.expireDate%>
                                        </div>
                                  </div>
                   </div>
               <% } else {%>
                     
                     <% if(type=='search'){%>

                           <div class="v-tabs-date">
                                      <form  id="search-form" class="form-horizontal clearfix" action="/organize/details"   method="get" >
                                         <div class="col-md-12">
                                             <div class="form-group clearfix">
                                              <label class="col-md-2 o-pd v-fz" >产品名称:</label>
                                              <div class="col-md-5 ">
                                                  <div class="col-md-8 o-pd">
                                                      <input class="form-control" type="text" id="example-if-password" name="name" placeholder="">
                                                      <input class="form-control" type="hidden"  name="view" >
                                                      <input class="form-control" type="hidden"  name="id" >
                                                  </div>
                                                  <div class="col-md-4 ">
                                                      <button class="btn btn-default btn-primary details-company-btn2" @click="getName()">查询</button>
                                                  </div>
                                              </div>
                                            </div>
                                         </div>
                                      </form>
                            </div>

                           <table-content-s :datalist="<%= JSON.stringify(data)%>" ></table-content-s>  
                      
                     <% }else { %>

                       <div class="v-tabs-date">
                              <form class="form-horizontal clearfix" id="date-form" action=""  method="get" >
                                  <div class="col-md-12">
                                      <div class="form-group clearfix">
                                          <label class="col-md-2 o-pd v-fz" >检查时间:</label>
                                          <div class="col-md-5">
                                              <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                                  <input class="form-control" type="text"  name="from" placeholder="开始">
                                                  <span class="input-group-addon">~</span>
                                                  <input class="form-control" type="text" name="to" placeholder="结束">
                                                 

                                              </div>
                                            <input class="form-control" type="hidden"  name="view" >
                                                  <input class="form-control" type="hidden"  name="id" >     
                                          </div>
                                          <div class="col-md-4 ">
                                                      <button class="btn btn-default btn-primary details-company-btn"  type="submit" @click="getDate()" >查询</button>
                                                  </div>

                                      </div>
                                  </div>
                              </form>
                       </div>

                       <table-content-d :datalist="<%= JSON.stringify(data)%>" ></table-content-d> 

                     <%} %>
                     <v-pages :pagelist="<%= JSON.stringify(pagelist) %>"></v-pages>
               <%} %>

            </div>
        </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

     seajs.use("/js_cmd/group/details-cmd");
    
</script>
