<% include ../common/header.ejs %>
<script type=""></script>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
       <div class="c-r" id="details" <%if(user.content.type=="COMPANY"){%> style=" width: 1000px; float: inherit;     margin: 0 auto;" <%}%>  >
                
              <% include ../common/rightBtns.ejs %>
              <% include ../common/modals.ejs %>
   
            <!--  测试 -->
              <div class="block" >

       		 	  <table-btns :btnlist="<%= JSON.stringify(btnlist)%>"></table-btns> 
              <% if(company){%> 
                    <div class="tab-pane active" v-cloak>
                            
                            <div class="col-md-12">
                                        <div class="col-md-12 o-pd qyspxq_title">企业信息</div>
                                        <div class="col-md-12 o-pd qyspxq_text">
                                            <span class="details-title">公司名称：</span></span> <%=data.content.name%><br />
                                            <span class="details-title">公司地址：</span> <%=data.content.address%><br />
                                            <span class="details-title">隶属市场所：</span><%=data.content.belongMarket%><br />
                                            <span class="details-title">隶属园区：</span> <%=data.content.belongPark%><br />
                                            <span class="details-title">联系人：</span> <%=data.content.contact%><br />
                                            <span class="details-title">联系电话：</span> <%=data.content.phone%><br />
                                            <span class="details-title">经营范围 ：</span><%=data.content.businesses%></span><br />
                                            <span class="col-md-12 o-pd"><span class="details-title">经营许可证：</span><%=data.content.certificate%></span><br />
                                            <span class="col-md-12 o-pd">
                                            <span class="details-title">许可证有效期：</span><%=data.content.expireDate%>
                                            </span>
                                            <br />
                                            <span class="col-md-12 o-pd">
                                             
                                                   <span class="details-title">经营许可证文件列表:</span>
                                                   <% if(data.content.certificateFiles!=null){%>
                                                    <%data.content.certificateFiles.forEach(function (user,index){%>
                                                          <% if(data.content.isImg[index]){%>
                                                            <a class="btn-link" target="_blank" href="http://<%=user%>">查看</a>
                                                        <%}else {%>
                                                           <a class="btn-link" target="_blank" href="http://<%=user%>">下载</a>
                                                          <%}%>
                                                    <% }) %>
                                                   <%}%>
                                              </span>
                                         
                                        </div>
                            </div>
                    </div>
               <% } else {%>

                    <% if(type=='search'){%>

                           <div class="v-tabs-date">
                                      <form  id="search-form" class="form-horizontal clearfix" action="/organize/details"   method="get" >
                                         <div class="col-md-12">
                                             <div class="form-group clearfix">
                                              <label class="col-md-2 o-pd v-fz" ><%=searchName%>:</label>
                                              <div class="col-md-5 ">
                                                  <div class="col-md-8 o-pd">
                                                      <input class="form-control" type="text" id="example-if-password" name="name" placeholder="">
                                                      <input class="form-control" type="hidden"  name="view" >
                                                      <input class="form-control" type="hidden"  name="id" >
                                                  </div>
                                                  <div class="col-md-4 ">
                                                      <button class="btn btn-default btn-primary details-company-btn2" @click="getName()">查询</button>
                                                  </div>
                                              </div>
                                            </div>
                                         </div>
                                      </form>
                           </div>

                           <table-content-s :datalist="<%= JSON.stringify(data)%>"></table-content-s>  
                      
                     <% }else { %>

                       <div class="v-tabs-date">
                              <form class="form-horizontal clearfix" id="date-form" action=""  method="get" >
                                  <div class="col-md-12">
                                      <div class="form-group clearfix">

                                          <label class="col-md-2 o-pd v-fz" ><%=searchName%>:</label>
                                          <div class="col-md-5">
                                              <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                                  <input class="form-control" type="text"  name="from" placeholder="开始">
                                                  <span class="input-group-addon">~</span>
                                                  <input class="form-control" type="text" name="to" placeholder="结束">
                                              </div>
                                            <input class="form-control" type="hidden"  name="view" >
                                                  <input class="form-control" type="hidden"  name="id" >     
                                          </div>
                                          <div class="col-md-4 ">
                                                      <button class="btn btn-default btn-primary details-company-btn"  type="submit" @click="getDate()" >查询</button>
                                                  </div>

                                      </div>
                                  </div>
                              </form>
                       </div>
                       <table-content-d :datalist="<%= JSON.stringify(data)%>" ></table-content-d> 

                     <%} %>
                     <v-pages :pagelist="<%= JSON.stringify(pagelist) %>"></v-pages>


                      <div class="modal fade " id="modal-fromphoto" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog  v-tabs-modal">
                              <div class="modal-content">
                                  <div class="modal-header o-nobor">
                                      <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                  </div>
                                  <div class="modal-body">

                                      <div class="row v-table-img">
                                         
                                              <img id="v-com-img" src="">
                                      
                                      </div>

                                  </div>
                              </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                      </div><!-- /.modal  详情页面  -->

               <%} %>

            </div>
        </div>
    </div>
</div>



<% include ../common/footer.ejs %>


<script>
     seajs.use("/js_cmd/group/details-cmd.js?v=<%= config.version %>");
     uiHelperTableToolsCheckable();
</script>
